<h1><%= @user.name %>'s Bio</h1>
<% if @bio %>
<%= @bio.description %>
<br />
<%= link_to 'Edit', edit_user_bios_path(@user, @bio) %>
<%= link_to 'Delete', user_bios_path(@user, @bio), method: :delete, data: {confirm: 'Are you sure?'} %>

<% else %>
<%= link_to 'Add Bio', new_user_bio_path(@user) %>
<% end %>