<h1 class='center-title'><%= @user.name %>'s Bio</h1>
<% if @bio %>
<%= @bio.description %>
<br />
<div class='edit-user-links'>
  <%= link_to 'Edit', edit_user_bio_path(@user, @bio), class: 'edit-link' %>
  <%= link_to 'Delete', user_bio_path(@user, @bio), method: :delete, data: {confirm: 'Are you sure?'}, class: 'delete-link' %>
</div>
<% else %>
<%= link_to 'Add Bio', new_user_bio_path(@user), class: 'edit-link' %>
<% end %>
