<h1><%= @user.name %></h1>

<h3>Age: <%= @user.age %></h3>
<h3>Gender: <%= @user.gender %></h3>
<h3>Email: <%= @user.email %></h3>
<h3>Phone: <%= @user.phone %></h3>
<h3>Race: <%= @user.race %></h3>
<br />
<h3>Interests: </h3>
<% @user.interests.each do |i| %>
  <%= i.name %>
<% end %>
<br />
<% if @user.bios.any? %>
  <% @user.bios.each do |bio| %>
    <h3>Bio: </h3>
    <%= bio.description %>
    <% end %>
<% else %>
  <%= link_to 'Add Bio', new_user_bio_path(@user) %>
<% end %>
<br />

<%= link_to 'Edit', edit_user_path %>
<%= link_to 'Delete Profile', user_path, method: :delete, data: {confirm: 'Are you sure?'} %>
<%= link_to 'Address', user_addresses_path(@user) %>
<%= link_to 'Interests', user_interests_path(@user) %>
<%= link_to 'Bio', user_bios_path(@user) %>

