<div class='container'>
  <div class='show-user-title'>
    <h1 class='center-title'><%= @user.name %>'s Profile</h1>
  </div>
  <div class="show-user">
    <div class="show-image-div">
      <%= image_tag @user.avatar_url(:thumb), class: 'user-show-image' %>
    </div>
    <div class='info-div'>
      <h3 class='info'>Info</h3>
      <h3 class='user-info-label'>Age: </h3><h3 class='user-info'><%= @user.age %></h3>
      <h3 class='user-info-label'>Gender: </h3><h3 class='user-info'><%= @user.gender %></h3>
      <h3 class='user-info-label'>Email: </h3><h3 class='user-info'><%= @user.email %></h3>
      <h3 class='user-info-label'>Phone: </h3><h3 class='user-info'><%= @user.phone %></h3>
      <h3 class='user-info-label'>Race: </h3><h3 class='user-info'><%= @user.race %></h3>
      <br />
      <% if @user.bios.any? %>
        <% @user.bios.each do |bio| %>
          <h3 class='user-info-label'>Bio: </h3>
          <p class='bio-content'><%= bio.description %></p>
          <% end %>
      <% else %>
        <h3 class='user-info-label'>Add Bio:</h3>
      <% end %>
      <br />
      <h3 class='user-info-label'>Interests: </h3>
        <% @user.interests.each do |i| %>
        <p class='interests-content'><%= i.name %></p>
      <% end %>
      <br />
      <h2 class='user-info-label'>Address:</h2>
        <% @user.addresses.each do |address| %>
        <%= address.street %>
        <br />
        <%= address.city %>
        <br />
        <%= address.state %>
        <br />
        <%= address.zip %>
      <% end %>
    </div>
  </div>
</div>
