<div class='container'>
  <div class='navbar'>
    <h3 class='logo'>Find Someone</h3>
    <h3 class='logo-small'>To</h3>
    <h3 class='love'>Love</h3>
    <h3 class='logo-small margin-right'>You</h3>
    <% if logged_in? %>
      <%= link_to 'My Profile', profile_path(current_user), class: 'navbar-user-link' %>
      <%= link_to 'Edit Profile', profile_edit_path(current_user), class: 'navbar-user-link' %>
      <%= link_to 'Logout', logout_path(current_user), class: 'navbar-user-link'%>
    <% else %>
      <%= link_to 'Sign Up', signup_path, class: 'navbar-user-link' %>
      <%= link_to 'Login', login_path, class: 'navbar-user-link' %>
    <% end %>


    <%= link_to 'All Profiles', users_path, class: 'navbar-link' %>
    <%= link_to 'Home', root_path, class:'navbar-link' %>
  </div>
</div>
