<div class='container'>
  <div class='navbar'>
    <h3 class='logo'>Find Someone</h3>
    <h3 class='logo-small'>To</h3>
    <h3 class='love'>Love</h3>
    <h3 class='logo-small margin-right'>You</h3>
    <% if logged_in? %>
      <%= link_to 'My Profile', user_path(current_user) %>
      <%= link_to 'Logout', logout_path(current_user)%>
    <% else %>
      <%= link_to 'Sign Up', signup_path %>
      <%= link_to 'Login', login_path %>
    <% end %>


    <%= link_to 'All Profiles', users_path, class: 'navbar-link' %>
    <%= link_to 'Create Profile', new_user_path, class: 'navbar-link' %>
    <%= link_to 'Home', root_path, class:'navbar-link' %>
  </div>
</div>
